# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
